body {
    font-family: 'Sarabun' !important;
    font-size: 16px !important;
}

.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* font */
/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./font/icon.woff2') format('woff2');
}  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./font/MaterialIcons-Regular.eot'); 
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('./font/MaterialIcons-Regular.woff2') format('woff2'),
      url('./font/MaterialIcons-Regular.woff') format('woff'),
      url('./font/MaterialIcons-Regular.ttf') format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

.font-small {
    font-size: 14px;
}
.font-small-lager {
    font-size: 16px;
}
.font-medium {
    font-size: 18px;
}
.font-medium-lager {
    font-size: 20px;
}
.font-weight-heavy {
    font-weight: 600;
}
.white-color {
    color: #ffffff !important;
}
.red-color {
    color: #f5222d;
}
.green-color {
    color: #52c41a;
}
.blue-color {
    color: #1890ff;
}
.pink-color {
    color: #eb3096;
}
.orange-color {
    color: rgb(255, 120, 0);
}
.black-color {
    color:black;
}

.font-health{
    color: #4caf50 !important;
    font-weight: bold
}

.font-unhealth{
    color: #ff1100 !important;
    font-weight: bold
}

.font-small-green{
   color: #4caf50;
}

.font-small-red{
    color: #ff1100;
 }

 .color-health{
    color: #4caf50 !important;
    font-weight: bold
}

.color-unhealth{
    color: #000 !important;
    font-weight: bold
}

.color-orange{
    color: #fb8c00 !important;
    font-weight: bold
}

/* font ThaiSansNeue */

@font-face {
    font-family: 'ThaiSansNeue';
    font-weight: normal;
    font-style: normal;
    src: local('ThaiSansNeue'),
    url('./font/ThaiSansNeue-Black.woff') format('woff'),
    url('./font/ThaiSansNeue-Black.ttf') format('truetype');
}

/*  */

/* font Sarabun */

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url('./font/sarabun.woff2') format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url('./font/sarabun2.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url('./font/sarabun3.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: local('Sarabun Regular'), local('Sarabun-Regular'), url('./font/sarabun4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}