@font-face {
	font-family: 'ThaiSansNeue';
	src: url('ThaiSansNeue-Black.eot');
    src: local('โบ'), 
        url('ThaiSansNeue-Black.woff') format('woff'), 
        url('ThaiSansNeue-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
