<template name="dashboard">
    <div id="loader">
        {{> loader}}
    </div>
    <div id="content" class="login" style="display: none">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col s0 m2 l3"></div>
            <div class="col s12 m8 l6">
                <h4>ค้นหาผู้รับวัคซีน</h4>
                <br>
                <div class="">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="row">
                                <div class="col s0 m2"></div>
                                <div class="col s12 m8">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">search</i>
                                                <input id="cid" type="text" class="validate">
                                                <label for="cid">เลขประจำตัวประชาชน</label>
                                            </div>
                                        </div>
                                    </form>
                                    <center>
                                        <button id="search" class="btn">ค้นหา</button>
                                    </center>
                                </div>
                                <div class="col s0 m2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <section style="border-top: 1px solid white"></section>
                <br>
                <div>
                    <div class="row">
                        <div class="col s8">
                            <h5>[{{getDataLogin.USERNAME}}] - {{getDataLogin.NICKNAME}}</h5>
                            <br>
                            <!-- <h6><b>ผู้รับวัคซีน </b> 6 คน</h6> -->
                        </div>
                        <div class="col s3">
                            <center>
                                <a class="waves-effect waves-light btn-large"><i
                                        class="material-icons left">print</i>พิมพ์รายงาน</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s0 m2 l3"></div>
        </div>
    </div>
</template>