<template name="login">
    <div class="login">
        <div class="">
            <section style="height: {{getHeadDiv}}px;"></section>
            <center>
                <img src="nvi.png">
            </center>
            <br>
            <div class="row">
                <div class="col s0 m1 l4"></div>
                <div class="col s12 m10 l4">
                    <div class="">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title" style="text-align: center"><b>เข้าสู่ระบบ</b></span>
                                <div class="row">
                                    <div class="col s0 m2"></div>
                                    <div class="col s12 m8">
                                        <form class="">
                                            <div class="row">
                                                <div class="input-field">
                                                    <i class="material-icons prefix">account_circle</i>
                                                    <input id="username" type="text" class="validate">
                                                    <label for="username">ชื่อผู้ใช้งาน</label>
                                                </div>
                                                <div class="input-field">
                                                    <i class="material-icons prefix">vpn_key</i>
                                                    <input id="password" type="password" class="validate">
                                                    <label for="password">รหัสผ่าน</label>
                                                </div>
                                            </div>
                                        </form>
                                        <center>
                                            <button id="login" class="btn">เข้าสู่ระบบ</button>
                                        </center>
                                    </div>
                                    <div class="col s0 m2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <section style="border-top: 1px solid white"></section>
                    <br>
                    <div>
                        สถาบันวัคซีนแห่งชาติ อาคาร 4 ชั้น 5 ตึกสถาบันบำราศนราดูร เลขที่ 38 ซอยติวานนท์ 14 ต.ตลาดขวัญ
                        อ.เมืองนนทบุรี
                        จ.นนทบุรี 11000<br>โทร 02-580-9729-31<br>
                    </div>
                </div>
                <div class="col s0 m1 l4"></div>
            </div>

        </div>
    </div>
</template>