<template name="report_TH">
    <div class="" style="background: none;display: block">
        <div style="position: fixed;right: 1px;font-size: 12px">
            พิมพ์เมื่อ {{getTimeStamp}}
        </div>
        <br>
        <br>
        <center><img src="nvi.png"></center>
        <br>
        <center><b>เอกสารรับรองการให้วัคซีน หรือการให้ยาป้องกันระหว่างประเทศ<br></b></center>
        <center><b>INTERNATIONAL CERTIFICATE OF VACCINEATION OR PROPHYLAXIS</b></center>
        <br>
        <br>
        <div class="row">
            <div class="col s12">
                <br>
                <br>
                <div style="">
                    <b>นี้คือการรับรองว่า [ชื่อ] </b>
                    {{getDataPerson.personprename}}{{getDataPerson.personname}}
                    {{getDataPerson.personlastname}}
                    <br>
                    <b>เกิดเมื่อ</b> {{DateTime getDataPerson.personbirth}} <b>เพศ</b>
                    {{sex getDataPerson.personsex}}
                    <br>
                    <b>สัญชาติ</b> {{nation getDataPerson.personnation}}
                    <br>
                    <b>เอกสารประจำตัวประชาชน (ถ้ามี)</b> {{getDataPerson.CID}}
                    <br>
                    <br>
                    <b>ลายเซ็น</b> ________________________________________
                    <br>
                    <br>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <b>ตามกฎอนามัยระหว่างประเทศ</b>
                <br>
                <br>
                <table>
                    <thead>
                        <tr style="border: 1px solid black;font-weight: bold">
                            <td style="border-right: 1px solid black;text-align: center;">วัคซีนหรือ
                                การป้องกันโรค</td>
                            <td style="border-right: 1px solid black;text-align: center;">วันที่</td>
                            <td style="border-right: 1px solid black;text-align: center;">ลายเซ็นของแพทย์ผู้ดูแลกำกับ
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;">ผู้ผลิตและหมายเลขที่ผลิต</td>
                            <td style="border-right: 1px solid black;text-align: center;">วันที่หมดอายุ
                            </td>
                            <td style="text-align: center;">ตราประทับของศูนย์บริหาร</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getDataVaccine}}
                        <tr style="height: 100px;border: 1px solid black">
                            <td class="remove" style="display: none">
                                <center><a class="btn-floating btn-large waves-effect waves-light red"><i
                                            class="material-icons remove_this">remove</i></a></center>
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;">
                                {{VACCINENAME_TH}}
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;">
                                {{DateTime DATE_SERV}}
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;">
                                ________________________________________<br>{{hospname}}
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;">
                                {{MANUFACTURER}}<br>{{LOT}}</td>
                            <td style="border-right: 1px solid black;text-align: center;">
                                {{DateTime VACCINE_FROM}}
                                <br>{{DateTime VACCINE_UNTIL}}
                            </td>
                            <td style="border-right: 1px solid black;text-align: center;"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <br>
                <div>
                    สถาบันวัคซีนแห่งชาติ อาคาร 4 ชั้น 5 ตึกสถาบันบำราศนราดูร เลขที่ 38 ซอยติวานนท์ 14 ต.ตลาดขวัญ
                    อ.เมืองนนทบุรี
                    จ.นนทบุรี 11000<br>โทร 02-580-9729-31<br>
                </div>
            </div>
        </div>
    </div>
</template>