<template name="report">
    <div id="loader">
        {{> loader}}
    </div>
    <div id="content" class="login" style="display: none">

        <div class="row">
            <div class="col s0 m1 l1"></div>
            <div class="col s12 m10 l10">
                <br>
                <br>
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s8">
                                <br>
                                <br>
                                <div style="">
                                    <b>นี้คือการรับรองว่า [ชื่อ] </b>
                                    {{getDataPerson.personprename}}{{getDataPerson.personname}}
                                    {{getDataPerson.personlastname}}
                                    <br>
                                    <b>เกิดเมื่อ</b> {{DateTime getDataPerson.personbirth}} <b>เพศ</b>
                                    {{sex getDataPerson.personsex}}
                                    <br>
                                    <b>สัญชาติ</b> {{nation getDataPerson.personnation}}
                                    <br>
                                    <b>เอกสารประจำตัวประชาชน (ถ้ามี)</b> {{getDataPerson.CID}}
                                    <br>

                                </div>
                            </div>
                            <div class="col s4">
                                <center>
                                    <a id="back" class="waves-effect waves-light btn-large"><i
                                            class="material-icons left">arrow_back</i>กลับ</a>
                                    <a id="print" class="waves-effect waves-light btn-large"><i
                                            class="material-icons left">print</i>พิมพ์รายงาน</a>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <br>
                                <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1"><i
                                        class="material-icons left">add</i>เพิ่มวัคซีน</a>
                                <!-- <a id="remove" class="waves-effect waves-light btn-large"><i
                                        class="material-icons left">remove</i>ลบวัคซีน</a> -->
                                <br>
                                <br>
                                <table>
                                    <thead>
                                        <tr style="border: 1px solid black;font-weight: bold">
                                            <td class="remove" style="text-align: center;display: none"> </td>
                                            <td style="border-right: 1px solid black;text-align: center;">Vaccine or
                                                prophylaxis</td>
                                            <td style="border-right: 1px solid black;text-align: center;">Date</td>
                                            <td style="border-right: 1px solid black;text-align: center;">Signature and
                                                professional
                                                status of supervising clinician</td>
                                            <td style="border-right: 1px solid black;text-align: center;">Manufacturer
                                                and barch
                                                no. of
                                                vaccine or prophylaxis</td>
                                            <td style="border-right: 1px solid black;text-align: center;">Certificate
                                                valid
                                                from:
                                                until:
                                            </td>
                                            <td style="text-align: center;">Official stamp of the administering
                                                centre</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each getDataVaccine}}
                                        <tr style="height: 100px;border: 1px solid black">
                                            <td class="remove" style="display: none">
                                                <center><a
                                                        class="btn-floating btn-large waves-effect waves-light red"><i
                                                            class="material-icons remove_this">remove</i></a></center>
                                            </td>
                                            <td style="border-right: 1px solid black;text-align: center;">
                                                {{VACCINENAME_TH}}
                                            </td>
                                            <td style="border-right: 1px solid black;text-align: center;">
                                                {{DateTime DATE_SERV}}
                                            </td>
                                            <td style="border-right: 1px solid black;text-align: center;">
                                                ________________________________________<br>{{hospname}}
                                            </td>
                                            <td style="border-right: 1px solid black;text-align: center;">
                                                {{MANUFACTURER}}<br>{{LOT}}</td>
                                            <td style="border-right: 1px solid black;text-align: center;">
                                                {{DateTime VACCINE_FROM}}
                                                <br>{{DateTime VACCINE_UNTIL}}
                                            </td>
                                            <td style="border-right: 1px solid black;text-align: center;"></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <br>
                                <div style="display: none">
                                    สถาบันวัคซีนแห่งชาติ อาคาร 4 ชั้น 5 ตึกสถาบันบำราศนราดูร เลขที่ 38 ซอยติวานนท์ 14
                                    ต.ตลาดขวัญ
                                    อ.เมืองนนทบุรี
                                    จ.นนทบุรี 11000<br>โทร 02-580-9729-31<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s0 m1 l1"></div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal" style="height: {{getHeadDiv}}px;">
        <div class="modal-content">
            <br>
            <div class="row">
                <div class="col s0 m1"></div>
                <form class="col s12 m10">
                    <h4>เพิ่มวัคซีน</h4>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <select id="name">
                                <option value="blank" selected>เลือกวัคซีน</option>
                                {{#if getNameVaccine}}
                                {{#each getNameVaccine}}
                                <option value="{{VACCINECODE}}">{{VACCINENAME_TH}} ({{VACCINENAME_EN}})</option>
                                {{/each}}
                                {{/if}}
                            </select>
                            <label>ชื่อวัคซีน</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="date" type="text" class="datepicker validate">
                            <label id="label-date" for="date">วันที่ฉีด</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="hosp" type="text" value="[{{getDataLogin.USERNAME}}] - {{getDataLogin.NICKNAME}}"
                                class="validate" disabled>
                            <label id="label-hosp" for="hosp" class="active">สถานบริการ</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="manufacture" type="text" class="validate">
                            <label id="label-manufacture" for="manufacture">ผู้ผลิตวัคซีน</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="manufacture_number" type="text" class="validate">
                            <label id="label-manufacture_number" for="manufacture_number">เลขที่ผลิตวัคซีน</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="manufacture_date" type="text" class="datepicker validate">
                            <label id="label-manufacture_date" for="manufacture_date">วันที่ผลิตวัคซีน</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="expire_date" type="text" class="datepicker validate">
                            <label id="label-expire_date" for="expire_date">วันที่หมดอายุวัคซีน</label>
                        </div>
                    </div>
                </form>
                <center>
                    <a class="waves-effect waves-light btn-large" id="add_vaccine"><i
                            class="material-icons left">check</i>ยืนยัน</a>
                </center>
                <div class="col s0 m1"></div>
            </div>
        </div>
    </div>
</template>